* {
  box-sizing: border-box;
}

#nav{
  
  background-image: url('http://www.juimg.com/tuku/yulantu/140113/328401-14011314232436.jpg');
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 5px dotted #4169e1;

}




#content > .container > div {
  padding: 104px 0;
}

.container{
  width: 800px;
  margin: 0 auto;
}

#content {
  position: relative;
  padding: 15px;
}


.menu {
  float: top;
}

.menu li {
  width: 140px;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 18px;
  border: 1px #fff;

  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  color: #e0ffff;
  display: inline-block;

}


a {
  display: block;
  color: darkslateblue;
  text-decoration: none;
}

li:hover {
  background-color: dodgerblue;
}

li:hover a{
  color: #e0ffff;
  font-weight: 200;
  font-size: 18px;
}

/*
.container{
  border: 1px solid orange;
}


#content {
  border: 1px solid yellow;
}

*/

#intro, #mystory {
  /*border: 1px solid pink;*/
  text-align: center;
}

#myinfo {
  float: left;
  margin-right: 50px;
}

#intropic img {
  width: 310px;
}

h1{
  text-align: center;
}

h2 {
  margin-bottom: 0;
}
h4 {
  margin: 0;
}
table {
  font-size: 15px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}
th, td {
  vertical-align: top;
  padding: 5px 0px;
}

td {
  color: #666;
  padding-left: 10px;
}

hr {
  border: 0.5px solid #eee
}

.item{
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;

  position: relative;
  margin-bottom: 10px;
}

.item img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.iteminfo {
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 0;
  left: 0;

  width: 250px;
  height: 250px;
  border-radius: 50%;

  text-align: center;
  padding: 25px 10px;
  overflow-y: auto;

  opacity: 0;
}

.iteminfo:hover {
  opacity: 1;
}

form.contactform{
  width: 50%;
  margin: 0 auto;
}

.formrow{
  margin-bottom: 15px;
}

.formrow input, .formrow textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #d6d9dc;
  padding: 7px;
}

.formrow textarea{
  resize: none;
  height: 4em;
}

.formrow button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.formrow button[type="summit"] {
  background-color: #5995da;
  color: #ffffff;
}

.formrow button:hover {
  background-color: #76aeed;
}

.formrow button:active {
  background-color: #407fc7;
}

/* hr.bar 之間居然不用空格!? */
hr.bar {
  border: 2px solid skyblue;
  width: 180px;
}

#workgenre {
  text-align: center;
}

/* Below: Use the definition "@media" in CSS stylesheet */

@media screen and (min-width: 1024px) {
  .menu-button, .menu-button-checkbox {
    display: none;
  }
}

@media screen and (max-width: 1023px) { 
  .container {
    width: auto;
    height: 75.5px;
  }

  .menu-button {
    float: right;
    font-size: 25px;
    line-height: 40px;
    color: #4169e1;
    background: transparent;
    padding: 0 10px;
    border: 0;
    margin-right: 10px;
    margin-top: 20px;
  }

  .menu-button-checkbox {
    opacity: 0;
    position: fixed;
    right: 10px;
    top: 20px;
    width: 50px;
    height: 40px;
  }

  /* Check the checkbox to undo ".menu" */
  .menu-button-checkbox:checked ~ .menu {
    display: block;
  }

  .menu {
    display: none;
    margin-top: 30px;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 55px;
    width: 150px;
    height: 100%
    border-bottom: 3px solid #4169e1;
    
  }

  .menu li {
    right: 0;
    border-radius: 0;
    background: white;
    color: darkslateblue;
    font-size: 18px;


  }

  li:hover a {
    background: white;
    color: darkslateblue;
    font-size: 18px;
    font-weight: 400;
  }

  .item {
    max-width: 100%;
  }

  form.contactform {
    width: 80%;
  }


}



